

		<div class="jumbotron">
			<h1>Node - Treehouse Search</h1>
			<p>Node.js application that searches the treehouse database.</p>
		</div>

		<div id="profile">
			<div class="row">
				<div class="col-lg-12">
					<h2>Username:
						<span><b>{{username}}</b></span>
					</h2>
					<img src="{{avatarURL}}" id="avatar" alt="avatar" class="img-thumbnail" style="max-width:150px;">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<ul style="list-style-type:none;">
						<li>Badges earned: <b>{{badges}}</b></li>
						<li>JavaScript points: <b>{{javascriptPoints}}</b></li>
						<li><a href="/">Search again</a></li>
					</ul>
				</div>
			</div>
		</div>


		<!-- #####= JS files =##### -->
	<!-- <script src="../renderer.js" charset="utf-8"></script>
	<script src="../router.js" charset="utf-8"></script>
	<script src="../profile.js" charset="utf-8"></script>
	<script src="../example_profile.js" charset="utf-8"></script>
	<script src="../app.js" charset="utf-8"></script> -->
